@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #333333;
    font-family: "dnp-shuei-mgothic-std", "ヒラギノ丸ゴ Pro W4",
        "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3",
        "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "palt";
}

/* h2 {
    font-size: 50px;
    padding-top: 136px;
    padding-bottom: 70px;
} */

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ヘッダー */
header {
    background: #f8fcf9;
    height: 137px;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 7% 0 3%;
    max-width: 1000px;
    margin: 0 auto;
}

.header_logo img {
    width: 160px;
}

.header_wrap p {
    line-height: 1.75;
}

.pc_nav ul {
    display: flex;
    justify-content: space-between;
}

.pc_nav ul li {
    padding: 15px 30px;
}

.header_wrap p,
.pc_nav ul li {
    font-size: 16px;
}

.contact_btn {
    background: #4d4d4d;
    border-radius: 25.5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 34px;
    max-width: 1100px;
    color: #fff;
}

/* フッター */

footer {
    background: #4d4d4d;
}

.footer_wrap {
    width: 395px;
    margin: 0 auto;
    padding: 136px 0;
}

.footer_nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 76px;
}
.footer_wrap ul li {
    color: white;
}
.footer_logo {
    text-align: center;
    padding-bottom: 33px;
}

.footer_logo img {
    width: 102px;
}

.copyright {
    text-align: center;
    color: white;
}

div:not(.pagetop) {
    color: #333333;
}
