@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #333333;
    font-family: "dnp-shuei-mgothic-std", "ヒラギノ丸ゴ Pro W4",
        "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3",
        "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
    font-weight: 400;
    font-style: normal;
    font-feature-settings: "palt";
}

/* h2 {
    font-size: 50px;
    padding-top: 136px;
    padding-bottom: 70px;
} */

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ヘッダー */
header {
    background: #f8fcf9;
    height: 137px;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 7% 0 3%;
    max-width: 1000px;
    margin: 0 auto;
}

.header_logo img {
    width: 160px;
}

.header_wrap p {
    line-height: 1.75;
}

.pc_nav ul {
    display: flex;
    justify-content: space-between;
}

.pc_nav ul li {
    padding: 15px 30px;
}

.header_wrap p,
.pc_nav ul li {
    font-size: 16px;
}

.contact_btn {
    background: #4d4d4d;
    border-radius: 25.5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 34px;
    max-width: 1100px;
    color: #fff;
}

.sp_btn,
.sp_nav {
    display: none;
}

@media screen and (max-width: 767px) {
    .pc_nav {
        display: none;
    }

    /* ハンバーガー */
    .sp_btn {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        height: 16px;
        cursor: pointer;
        z-index: 999;
        filter: invert(100%);
        mix-blend-mode: exclusion;
    }
}

.sp_btn span {
    display: block;
    position: relative;
    top: 10px;
    width: 25px;
    height: 2px;
    border-radius: 1px;
    background-color: #333;
    transition: 0.3s; /* モーション */
}

.sp_btn span::before,
.sp_btn span::after {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 2px;
    border-radius: 1px;
    background-color: #333;
    transition: 0.3s; /* モーション */
}

.sp_btn span::before {
    bottom: 10px;
}

.sp_btn span::after {
    top: 10px;
}

/* ハンバーガー閉じる */
.sp_btn.open span {
    background: transparent;
}

.sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
}

.sp_btn.open span::after {
    top: 0;
    transform: rotate(135deg);
}

/* ハンバーガーメニュー */
.sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
}

.sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sp_nav ul li {
    padding: 30px 0;
    color: #fff;
    font-size: 16px;
    font-family: "dnp-shuei-mgothic-std", "ヒラギノ丸ゴ Pro W4",
        "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3",
        "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
}

.sp_nav .contact_btn {
    background: none;
}

/* サイドバー */

#sidebar {
    position: fixed;
    top: 293px;
    left: calc(50% - 600px);
    width: 183px;
    z-index: 9999;
    filter: invert(100%);
    mix-blend-mode: exclusion;
}

aside {
    top: 50%;
    left: 32px;
    color: #000;
}

.sns_icon {
    width: 32px;
    padding-bottom: 64px;
    /* cursor: pointer; */
}

#instagram_icon img {
    padding-bottom: 48px;
}
#twitter.icon {
    padding-bottom: 64px;
}

.scroll-text {
    position: fixed;
    transform: translateY(-50%);
    font-size: 16px;
    padding-left: 6px;
    white-space: nowrap;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

/* 矢印 */
.scroll-text {
    position: relative;
}

.scroll-text::before {
    content: "";
    position: absolute;
    top: 107px;
    bottom: -50px;
    right: 3px;
    /*矢印の形状*/
    width: 1px;
    height: 13px;
    background: #333;
    transform: skewX(-40deg);
}

.scroll-text::after {
    content: "";
    /*描画位置*/
    position: absolute;
    top: 70px;
    right: 9px;
    /*矢印の形状*/
    width: 1px;
    height: 50px;
    background: #333;
}

/* フッター */
footer {
    background: #4d4d4d;
}

.footer_wrap {
    display: flex;
    justify-content: space-between;
    width: 590px;
    margin: 0 auto;
    padding: 136px 0;
    padding-bottom: 76px;
    align-items: center;
}

.footer_nav {
    display: flex;
    justify-content: space-between;
    width: 395px;
}

.footer_sns {
    display: flex;
    justify-content: space-between;
    width: 130px;
}

.footer_wrap ul li {
    color: white;
}

.instagram_icon_white,
.twitter_icon_white {
    width: 32px;
}

.footer_logo {
    text-align: center;
    padding-bottom: 33px;
}

.footer_logo img {
    width: 102px;
}

.copyright {
    text-align: center;
    color: white;
}

@media screen and (max-width: 767px) {
    .footer_wrap {
        display: block;
        width: 77%;
        margin: 0 auto;
        padding: 72px 0 56px;
    }

    .footer_nav {
        width: 100%;
        padding-bottom: 56px;
    }

    .footer_sns {
        width: 120px;
        margin: 0 auto;
        align-items: center;
    }

    .copyright {
        padding-bottom: 72px;
    }
}

/* ページトップ
div:not(.pagetop) {
    color: #333333;
} */

/* ページトップ */

.pagetop {
    position: fixed;
    bottom: 140px;
    right: calc(50% - 600px);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    color: #000;
    filter: invert(100%);
    mix-blend-mode: exclusion;
}

.pagetop::before {
    content: "";
    position: absolute;
    top: 145px;
    bottom: -50px;
    right: 3px;
    /*矢印の形状*/
    width: 1px;
    height: 13px;
    background: #000;
    transform: skewX(-40deg);
}

.pagetop::after {
    content: "";
    /*描画位置*/
    position: absolute;
    top: 107px;
    right: 9px;
    /*矢印の形状*/
    width: 1px;
    height: 50px;
    background: #000;
}

@media screen and (max-width: 767px) {
    .pagetop {
        right: 20px;
        bottom: 110px;
    }
}
