@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #333333;
    font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro",
        "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3",
        "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
    font-feature-settings: "palt";
}

h2 {
    font-size: 50px;
    padding-top: 136px;
    padding-bottom: 70px;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ヘッダー */
header {
    background: #f8fcf9;
    height: 653px;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 7% 0 3%;
}

.header_logo img {
    width: 160px;
}

.header_wrap p {
    line-height: 1.75;
}

.pc_nav ul {
    display: flex;
    justify-content: space-between;
}

.pc_nav ul li {
    padding: 15px 30px;
}

.header_wrap p,
.pc_nav ul li {
    font-size: 16px;
}

.contact_btn {
    background: #4d4d4d;
    border-radius: 25.5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 34px;
    max-width: 1100px;
    color: #fff;
}

/* FV_ビジュアル */

.fv_visual {
    position: relative;
}

.concept {
    position: absolute;
    top: 290px;
    padding-left: 3%;
    z-index: 2;
}

.concept1,
.concept2 {
    line-height: 1.7;
    margin-bottom: 40px;
}

.fv_blob {
    position: absolute;
    width: 772px;
    height: 476px;
    background-color: none;
    margin-left: 24%;
    z-index: 1;
}

.blob_blue,
.blob_green,
.blob_yellow,
.blob_orange,
.blob_red {
    position: absolute;
    mix-blend-mode: multiply;
}

.blob_blue {
    top: 0px;
    left: 0px;
    width: 226px;
}

.blob_green {
    top: 76px;
    left: 118px;
    width: 383px;
}

.blob_yellow {
    bottom: 0px;
    left: 93px;
    width: 183px;
}

.blob_orange {
    top: 47px;
    right: 68px;
    width: 169px;
}

.blob_red {
    top: 148px;
    right: 0px;
    width: 202px;
}

/* メイン */
main {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(186, 224, 195, 1) 100%
    );
}

/* サービス */

.service_title {
    text-align: center;
}

.card_design,
.card_coding {
    width: 434px;
    background: #fff;
    padding: 56px;
}

.service_flex {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.card_design,
.card_coding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 31.7%;
}

.title_design,
.title_coding {
    line-height: 1.75;
    letter-spacing: 0.15em;
    font-size: 24px;
    text-align: center;
}

.title_design::after {
    content: "DESIGN";
    font-size: 0.58em;
    display: block;
    color: #666;
}

.title_coding::after {
    content: "CODING";
    font-size: 0.58em;
    display: block;
    color: #666;
}

.design_icon,
.coding_icon {
    padding: 60px 0;
}

.design_icon {
    width: 189px;
}

.coding_icon {
    width: 208px;
}

/* ワークス */
.works_title {
    text-align: center;
}

.works_container {
    display: flex;
}

.works_desc p {
    font-size: 16px;
    line-height: 1.62;
    padding-bottom: 76px;
}

/* ワークスのボタン */

.works_btn a {
    position: relative;
    margin: 0 auto;
    padding: 1.38em 6.33em;
    width: 287px;
    font-size: 18px;
    letter-spacing: 0.25em;
    transition: 0.3s;
    border: 0.3px solid #333;
    border-radius: 34px;
}

.works_btn a::before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    right: -2em;
    transform: translateY(calc(-50% - 2px)) rotate(30deg);
    width: 12px;
    height: 2px;
    background-color: #333;
    transition: 0.3s;
}

.works_btn a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -2em;
    transform: translateY(-50%);
    width: 70px;
    height: 2px;
    background-color: #333;
    transition: 0.3s;
}

.works_btn a::before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    right: -2em;
    transform: translateY(calc(-50% - 2px)) rotate(30deg);
    width: 12px;
    height: 0.3px;
    background-color: #333;
    transition: 0.3s;
}

.works_btn a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -2em;
    transform: translateY(-50%);
    width: 70px;
    height: 0.3px;
    background-color: #333;
    transition: 0.3s;
}

.works_btn a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #333;
}
/* ワークス ボタン終了 */

/* ワークス グリッド */
.works_item {
    padding-bottom: 70px;
}

.works_item p {
    font-size: 20px;
    line-height: 1.3;
    padding-top: 18px;
}

/* アバウト */
.about {
    padding-bottom: 136px;
}

.about_title {
    text-align: center;
}

.about_wrap {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.about_illust {
    width: 38%;
    padding-right: 13%;
}

.profile {
    width: 50%;
}

.name {
    font-size: 24px;
    letter-spacing: 0.08em;
    padding-bottom: 55px;
}

.name::after {
    content: "Yuka";
    padding-left: 33px;
    font-size: 0.66em;
    color: #666;
}

.profile1 {
    padding-bottom: 28px;
}

.profile2 {
    padding-bottom: 45px;
}
.profile1,
.profile2,
.soft {
    font-size: 16px;
    line-height: 1.87;
}

/* コンタクト */
.contact_title,
.contact_text1,
.contact_text2 {
    text-align: center;
}

.contact_text1 {
    font-size: 18px;
    line-height: 1.94;
    padding-bottom: 16px;
    letter-spacing: 0.15em;
}

.contact_text2 {
    font-size: 16px;
    line-height: 0.87;
    letter-spacing: 0.25em;
    color: #ff0000;
}

/* 入力フォーム */

label {
    display: flex;
    font-size: 16px;
}

.form_item span {
    color: #ff0000;
}
