@charset "utf-8";

.thankspage {
    position: relative;
    background-color: #f8fcf9;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.blob_orange img,
.blob_green img,
.blob_blue img {
    position: absolute;
}

.blob_orange img {
    width: 33%;
    top: 34%;
    left: -6%;
}
.blob_green img {
    width: 62%;
    top: 56%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.blob_blue img {
    width: 35%;
    top: 300px;
    right: -4%;
}

.text {
    position: relative;
    text-align: center;
    padding-top: 207px;
    z-index: 9;
}

.main_text {
    font-size: 4.25em;
}

.eng_text {
    font-family: "alana-smooth", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6em;
    color: #cbcbcb;
    opacity: 0.5;
    transform: rotate(-5deg);
    width: 95%;
}

.secondary_text {
    font-size: 22px;
    line-height: 1.72;
}

/* Backボタン */
.back_btn {
    text-align: center;
    padding: 105px 0 235px;
    z-index: 99;
}

.back_btn a {
    position: relative;
    margin: 0 auto;
    padding: 1.38em 6.33em;
    width: 287px;
    font-size: 18px;
    letter-spacing: 0.25em;
    transition: 0.3s;
    border: 0.3px solid #333;
    border-radius: 34px;
}

.back_btn a::before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    right: -2em;
    transform: translateY(calc(-50% - 2px)) rotate(30deg);
    width: 12px;
    height: 2px;
    background-color: #333;
    transition: 0.3s;
}

.back_btn a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -2em;
    transform: translateY(-50%);
    width: 70px;
    height: 2px;
    background-color: #333;
    transition: 0.3s;
}

.back_btn a::before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    right: -2em;
    transform: translateY(calc(-50% - 2px)) rotate(30deg);
    width: 12px;
    height: 0.3px;
    background-color: #333;
    transition: 0.3s;
}

.back_btn a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -2em;
    transform: translateY(-50%);
    width: 70px;
    height: 0.3px;
    background-color: #333;
    transition: 0.3s;
}

.back_btn a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #333;
}

.back_btn a:hover::before,
.back_btn a:hover::after {
    right: -3em;
}
/* Backボタン終了 */

/* SP版 */
@media screen and (max-width: 767px) {
    .blob_orange img {
        width: 34%;
        position: absolute;
        top: 90%;
        left: -9%;
    }

    .blob_green img {
        width: 110%;
        position: absolute;
        overflow: hidden;
        top: calc(50% - -50px);
        left: -5%;
    }

    .blob_blue img {
        width: 48%;
        position: absolute;
        top: 264px;
        left: 64%;
    }

    .text {
        padding-top: 67px;
    }

    .main_text {
        font-size: 1.75em;
        padding-top: 32px;
        padding-bottom: 8px;
    }

    .eng_text {
        font-size: 2.25em;
    }

    .secondary_text {
        font-size: 0.81em;
        line-height: 1.69;
        padding-top: 8px;
    }

    .back_btn {
        padding: 92px 0;
    }

    .back_btn a {
        font-size: 12px;
        padding: 1.41em 5em;
    }

    .back_btn a::after {
        width: 50px;
    }
}
