@charset "utf-8";

/* サイドバー */

#sidebar {
    position: fixed;
    top: 293px;
    left: calc(50% - 600px);
    width: 183px;
    z-index: 9999;
    filter: invert(100%);
    mix-blend-mode: exclusion;
}

aside {
    top: 50%;
    left: 32px;
    color: #000;
}

.sns_icon {
    width: 32px;
    padding-bottom: 64px;
    /* cursor: pointer; */
}

#instagram_icon img {
    padding-bottom: 48px;
}
#twitter.icon {
    padding-bottom: 64px;
}

.scroll-text {
    position: fixed;
    transform: translateY(-50%);
    font-size: 16px;
    padding-left: 6px;
    white-space: nowrap;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

/* 矢印 */
.scroll-text {
    position: relative;
}

.scroll-text::before {
    content: "";
    position: absolute;
    top: 107px;
    bottom: -50px;
    right: 3px;
    /*矢印の形状*/
    width: 1px;
    height: 13px;
    background: #333;
    transform: skewX(-40deg);
}

.scroll-text::after {
    content: "";
    /*描画位置*/
    position: absolute;
    top: 70px;
    right: 9px;
    /*矢印の形状*/
    width: 1px;
    height: 50px;
    background: #333;
}

/* WorksのFV */
.works_fv {
    height: 515px;
    background: #f8fcf9;
    position: relative;
}

.works_title {
    max-width: 143px;
    margin: 0 auto;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.works_blob img {
    width: 61%;
    padding: 27px 0 27px 30px;
}

.works_text {
    font-size: 50px;
    position: absolute;
    margin-top: 45px;
}

/* 背景グラデーション */
.gradient_wrap {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(186, 224, 195, 1) 100%
    );
}

/* 概要 */

.works_details {
    max-width: 1000px;
    margin: 0 auto;
    letter-spacing: 0.05em;
    padding: 0 30px;
}

.top_mockup {
    width: 100%;
}

.pc_sp {
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
}

.img02 {
    width: 63%;
}

.img03 {
    width: 30%;
}

.top_mockup {
    padding-top: 136px;
    padding-bottom: 51px;
}

/* .img02 {
    padding-bottom: 77px;
} */

h3,
h4 {
    font-size: 20px;
    border-bottom: 0.3px solid #333;
}

h3 {
    font-weight: 600;
    font-style: normal;
    padding-left: 19px;
    padding-bottom: 27px;
    position: relative;
}

/* 要素の左側の線 */
h3::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 20px;
    background-color: #333;
    position: absolute;
    left: 4px;
}

.pc_only a {
    font-weight: 400;
}

/* リスト */
dt,
dd {
    padding-top: 37px;
    padding-bottom: 27px;
    border-bottom: 0.2px dashed #333;
}

dl {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 77px;
}

dt {
    width: 13%;
    padding-left: 23px;
}

dd {
    width: 78%;
    line-height: 1.5;
}

h4 {
    padding-bottom: 26px;
}

.point_text {
    font-size: 18px;
    line-height: 1.77;
    padding-bottom: 72px;
}

/* 下からフェードイン */
.top_mockup,
.img02,
.img03 {
    /* 最初は非表示 */
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: opacity 1s, visibility 1s, transform 1s;
}
/* フェードイン時に入るクラス */
.is-fadein {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

/* Backボタン */
.back_btn {
    text-align: center;
    padding: 136px 0;
}

.back_btn a {
    position: relative;
    margin: 0 auto;
    padding: 1.38em 6.33em;
    width: 287px;
    font-size: 18px;
    letter-spacing: 0.25em;
    transition: 0.3s;
    border: 0.3px solid #333;
    border-radius: 34px;
}

.back_btn a::before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    right: -2em;
    transform: translateY(calc(-50% - 2px)) rotate(30deg);
    width: 12px;
    height: 2px;
    background-color: #333;
    transition: 0.3s;
}

.back_btn a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -2em;
    transform: translateY(-50%);
    width: 70px;
    height: 2px;
    background-color: #333;
    transition: 0.3s;
}

.back_btn a::before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    right: -2em;
    transform: translateY(calc(-50% - 2px)) rotate(30deg);
    width: 12px;
    height: 0.3px;
    background-color: #333;
    transition: 0.3s;
}

.back_btn a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -2em;
    transform: translateY(-50%);
    width: 70px;
    height: 0.3px;
    background-color: #333;
    transition: 0.3s;
}

.back_btn a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #333;
}
/* Backボタン終了 */

/* ページトップ */

.pagetop {
    position: fixed;
    bottom: 140px;
    right: calc(50% - 600px);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    color: #000;
    filter: invert(100%);
    mix-blend-mode: exclusion;
}

.pagetop::before {
    content: "";
    position: absolute;
    top: 145px;
    bottom: -50px;
    right: 3px;
    /*矢印の形状*/
    width: 1px;
    height: 13px;
    background: #333;
    transform: skewX(-40deg);
}

.pagetop::after {
    content: "";
    /*描画位置*/
    position: absolute;
    top: 107px;
    right: 9px;
    /*矢印の形状*/
    width: 1px;
    height: 50px;
    background: #333;
}

.sp_only {
    display: none;
}

/* SP版 */
@media screen and (max-width: 767px) {
    /* WorksのFV */

    .works_fv {
        height: 270px;
    }

    .works_blob img {
        width: 56%;
    }

    .works_text {
        font-size: 40px;
        padding-left: 5%;
    }

    /* サイドバー */

    #sidebar {
        top: 220px;
        left: 5%;
    }

    /* 概要 */
    .top_mockup {
        padding: 72px 0 46px;
    }

    h3,
    h4 {
        font-size: 100%;
        padding-bottom: 25px;
    }

    h3::before {
        height: 16px;
    }

    .pc_only {
        display: none;
    }

    .sp_only {
        display: block;
    }

    .sp_only a {
        font-weight: 400;
    }
    /* リスト */

    dl {
        padding-bottom: 50px;
    }

    dt,
    dd {
        font-size: 87%;
        padding-top: 35px;
        padding-bottom: 25px;
    }

    dt {
        width: 33%;
        padding-left: 5%;
    }

    dd {
        width: 62%;
    }

    .point_text {
        font-size: 14px;
        line-height: 1.92;
    }

    .img02 {
        padding-bottom: 40px;
    }

    /* Backボタン */

    .back_btn {
        padding: 72px 0;
    }

    .back_btn a {
        font-size: 8px;
        padding: 1.5em 6.87em;
    }

    .back_btn a::before {
        width: 7px;
        top: calc(50% - 0px);
    }

    .back_btn a::after {
        width: 30px;
    }

    /* ページトップsp版 */
    .pagetop {
        right: 27px;
        bottom: 110px;
        z-index: 99;
        /*デフォルトで非表示にする*/
        opacity: 0;
        visibility: hidden;
    }

    /*このクラスが付与されると表示する*/
    .active {
        opacity: 1;
        visibility: visible;
    }
}
