@charset "utf-8";

body {
    background: #f8fcf9;
    margin: 0;
    padding: 0;
}

.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #f8fcf9;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 163px;
    height: 163px;
    transition: 0.3s;
}

.logo_parts_line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 163px;
}

.logo_parts_red,
.logo_parts_orange,
.logo_parts_yellow,
.logo_parts_blue,
.logo_parts_green {
    position: absolute;
    top: 59%;
    left: 61%;
    width: 71px;
}

.logo_parts_line {
    z-index: 10;
}

.logo_parts_red {
    z-index: 9;
}

.logo_parts_orange {
    z-index: 8;
}

.logo_parts_yellow {
    z-index: 7;
}

.logo_parts_blue {
    z-index: 6;
}

.logo_parts_green {
    z-index: 5;
}
